body {
    text-align: center;
    font-family: Spirax;
    color: #660000;
}

.heading{
  width:100%;
  height: auto;

}

h1 {
    
    font-size: 80px;
    margin: 0.2em;
   text-shadow: 2px 4px 3px rgba(0,0,0,0.3);              
}


h2 {
    margin: 1em 0 0.25em;

}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}


label{
    color:#660066;
}


/*tabs and Notes*/

@media screen and (max-width: 768px){
    h1{
      font-size: 50px;
    }
}



/*Android phones*/
@media screen and (max-width:480px){

  h1{
    font-size: 30px;
  }

  h2{
    font-size: 15px;
  }

  label{
    font-size: 12px;

  }

  #createGrid{
    margin-top: 5px;
  }
  #colorPicker{
    height: 20px;
    width: 50px;
  }
  #inputWidth{
    height: 15px;
  }

  #inputHeight{
    height: 15px;
  }


}

